.hot {
  width: 100%;
  min-height: 2rem;
  height: auto;
  display: flex;
  flex-direction: row;

  &:not(:first-child) {
    margin: 0.5rem 0;
  }
  .hot-opt {
    padding-left: 3px;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  .divider {
    width: 2px;
    margin: 10px 4px;
    background: $grey-light;
  }

  &:hover {
    .divider {
      background: $grey-dark;
    }
  }
}

.hot-item {
  width: 100%;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-break: break-word;
  justify-content: center;
}

.card0 {
  width: 100%;
  margin-right: 2px;
  word-break: break-word;
}

.card1 {
  .hot-item {
    align-items: flex-start;
    flex-direction: column;

    .hot-desc {
      padding: 2px 0;
      p {
        font-size: 0.8rem;
      }
    }
  }
}