.is-tiles-wrapper {
    margin-bottom: $default-padding;
}

.modal-card {
    width: $modal-card-width;
}

.modal-card-foot {
    background-color: $modal-card-foot-background-color;
}

@include mobile {
    .modal .modal-card {
        width: $modal-card-width-mobile;
        margin: 0 auto;
    }
}

.is-user-avatar {
    &.has-max-width {
        max-width: $size-base * 7;
    }

    &.is-aligned-center {
        margin: 0 auto;
    }

    img {
        margin: 0 auto;
        border-radius: $radius-rounded;
    }
}

.icon.has-update-mark {
    position: relative;

    &:after {
        content: '';
        width: $icon-update-mark-size;
        height: $icon-update-mark-size;
        position: absolute;
        top: 1px;
        right: 1px;
        background-color: $icon-update-mark-color;
        border-radius: $radius-rounded;
    }
}

// 登录页面
.login.hero {
    height: 100%;
    justify-content: center;
    background-image: linear-gradient(to right top, #004080, #ffc383);

    .card-header {
        border-bottom-width: 0;
    }
    .card-header-title {
        padding: 1rem 1rem;

        span {
            font-size: $size-base * 1.3;
            font-weight: 550;
            color: $base-color;
        }
    }
    .hero-body {
        flex-grow: 0;
    }
    .field.password {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .options {
        display: flex;
        justify-content: space-between;
        font-size: $size-base * 0.9;
        .forgot {
            cursor: pointer;
        }
    }
}
