// define colors
$primary: #0088ff;

$dark-primary: #308fe2ad;
$dark-white: #e8e6e394;

$grey-dark: #4a4a4a;
$grey-light: #f1f1f1;

$white: hsl(0, 0, 100%);
$white-ter: hsl(0, 0, 96%);

$link: hsl(217, 71%,  53%);
$link-hover: $grey-dark;

$border-color: #dbdbdb;

$family-sans-serif: -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial;
$family-monospace: monospace;

$font-size-small: 0.75rem;
$font-size-normal: 16px;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;