.has-text-grey {
  color: $grey-dark;
}

.has-text-centered {
  text-align: center;
}

body {
  color: $grey-dark;
}

h4 {
  font-size: $font-size-large;
}

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $grey-dark;
  }
}