.hot {
  width: 100%;
  min-height: 2rem;
  height: auto;
  display: flex;
  flex-direction: row;

  &:not(:first-child) {
    margin: 0.5rem 0;
  }
  .hot-opt {
    padding-left: 3px;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  .divider {
    width: 2px;
    margin: 10px 4px;
    background: $grey-light;
  }

  &:hover {
    .divider {
      background: $grey-dark;
    }
  }
}

.hot-item {
  width: 100%;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-break: break-word;
  justify-content: center;
}

.card0 {
  width: 100%;
  margin-right: 2px;
  word-break: break-word;
}

.card1 {
  .hot-item {
    align-items: flex-start;
    flex-direction: column;

    .hot-desc {
      padding: 2px 0;
      p {
        font-size: 0.8rem;
      }
    }
  }
}

.card2 {
  color: $grey-dark;
  .hot-item {
    &:hover {
      cursor: pointer;
    }
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    .hot-cover {
      margin-right: 8px;
      position: relative;
      img {
        border-radius: 4px 4px;
        width: 128px;
        display: block;
      }
      .rank {
        display: block;
        width: 24px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        font-size: 8px;
        background: #ffaf24;
        color:#fff;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .hot-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      .hot-ext {
        font-size: .8rem;
        p {
          color: #666;
        }
        span {
          color: #096;
        }
      }
    }
  }
}